# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Logs
telegram_monitor.log

# Other
SetResolution.xml
scr_res_implement.py

# temporary stuff
.scratch/

# tests
tests/